
/* ----------------- */
/* Custom properties */
/* ----------------- */

:root {
    --background-color: #282828;
    --text-color1:      #d8d4cf;
    --text-color2:      #d79921;
    --standout-color:   #ebdbb2;
}

/* ----------------- */
/*        Body       */
/* ----------------- */

body {
    font-family:  monospace;
    margin: 0em auto 0 auto;
    padding: 2em;
    max-width: 900px;
    min-width: 500px;
    background: var(--background-color);
}


/* ----------------- */
/*       Navbar      */
/* ----------------- */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: var(--text-color2);
    margin-right: 0.5em;
}


/* ----------------- */
/*     List files    */
/* ----------------- */

#list_dirs {
    list-style-type: none;
    padding: 0px;
}

#list_dirs a {
    color: #ebdbb2;
}

/* ----------------- */
/*  Rest of elements */
/* ----------------- */

#container {
    line-height: 1.7;
    margin-top: 20px;
    margin-left: 1px;
}

/* Normal text */
p, li, dd, dt, code
{
    color: var(--text-color1);
}

/* Standout text */
h1, h2, h3, h4, h5, h6,
hr, a
{
    color: var(--standout-color);
}

/* Flex containers. Mainly for making responsive columns */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
