
body {
    background-color: #282828;
}

p {
    font-family: monospace;
    margin: 0;
    color: #ebdbb2;
}

.center {
    min-width: 40em;
    position: absolute;
    padding-left: 5%;
    padding-top: 0.5em;
    padding-bottom: 5em;
}

.input {
    margin-bottom: 0.1em;
}

.input:before {
    color: #d79921;
    content: "[adrianFD22@github ~]$ ";
    font-weight: bold;
    margin-left: -5px;
}

.output {
    margin-bottom: 1.5em;
}
