
/* ----------------- */
/*        Body       */
/* ----------------- */

body {
    font-family:  monospace;
    margin: 0em 1.2em 1em 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0em 2em 2em;
    max-width: 900px;
    background: #282828;
}


/* ----------------- */
/*       Navbar      */
/* ----------------- */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline;
    text-color: #d79921;
    /* background-color: #d79921; */
}

#navbar a {
    color: #d79921;
    margin-right: 4px;
}


/* ----------------- */
/*  Rest of elements */
/* ----------------- */

p {
    color: #ebdbb2;
}
