
/* ----------------- */
/*        Body       */
/* ----------------- */

body {
    font-family:  monospace;
    margin: 0em auto 0 auto;
    padding: 2em;
    max-width: 900px;
    background: #282828;
}

a {
    color: #ebdbb2;
}

/* ----------------- */
/*       Navbar      */
/* ----------------- */

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline;
    text-color: #d79921;
    /* background-color: #d79921; */
}

#navbar a {
    color: #d79921;
    margin-right: 4px;
}


/* ----------------- */
/*     List files    */
/* ----------------- */

#list_dirs {
    list-style-type: none;
    padding: 0px;
}

#list_dirs a {
    color: #ebdbb2;
}

/* ----------------- */
/*  Rest of elements */
/* ----------------- */

#container {
    line-height: 1.7;
    margin-top: 20px;
    margin-left: 1px;
}

/* Normal text */
p, li, dd, dt
{
    color: #d8d4cf;
}

h1, h2, h3, h4, h5, h6,
hr
{
    color: #ebdbb2;
}

.center {
    display: block;
    margin: auto;
}
